<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--xmlns="http://mybatis.org/schema/mybatis-mapper"-->
<mapper namespace="com.study.studentsys.mapper.EventRecordMapper">
    <select id="findByEmail" resultType="com.study.studentsys.model.EventRecord">
        select * from event_record where email=#{email}
    </select>
    <select id="findByTitleEmail" resultType="com.study.studentsys.model.EventRecord">
        select * from event_record where event_name like #{title} and email=#{email}
    </select>

    <select id="findList" resultType="com.study.studentsys.model.EventRecord">
        select * from event_record
        where email=#{email}
        <if test="title != null and title != ''">
            and event_name like concat(concat("%",#{title}),"%")
        </if>
        <if test="type != null and type != ''">
            and type = #{type}
        </if>
    </select>
</mapper>