<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>

<head>
    <title>Calendar-Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/assets/css/index.css}">
    <script th:src="@{/static/assets/js/vue.js}"></script>
    <script th:src="@{/static/assets/js/index.js}"></script>

    <!-- <script src="https://unpkg.com/element-ui"></script> -->
    <script th:src="@{/static/assets/js/en.js}"></script>
    <link rel="stylesheet" th:href="@{/static/assets/css/fullcalendar.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/assets/css/ace.min.css}"/>
    <!-- text fonts -->
    <link rel="stylesheet" th:href="@{/static/assets/font-awesome/4.5.0/css/font-awesome.min.css}"/>

    <style>
        .el-header {
            background-color: #EDEEF3;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-main {
            background-color: #EDEEF3;
            color: #333;
            text-align: center;
            /* line-height: 160px; */
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .calendar-container-out {
            margin: auto;
            background: #DD868C;
            height: 800px;
            width: 1200px;
            border: 1px solid #DD868C;
            border-radius: 25px;
            padding-bottom: 40px;
        }

        .calendar-container-in {
            margin: auto;
            /* height: 80%; */
            /* width: 90%; */
            height: 700px;
            width: 1160px;
            border: 1px solid #eac9cd;
            border-radius: 25px;
            background: #eac9cd;
        }

        .myButton {
            width: 180px;
            height: 70px;
            text-align: center;
            background: linear-gradient(#dfe9f7, #f8dee2);
            margin-top: 35px;
            margin-bottom: 10px;
            border-radius: 20px;
            font-weight: 700;
            font-size: large;
            color: #DD868C;
        }

        .myButton:focus,
        .myButton:hover {
            color: #DD868C !important;
            background: linear-gradient(#dfe9f7, #f8dee2) !important;
            border-color: #f8dee2 !important;
        }

        .el-calendar {
            border-radius: 0px 50px 0px 0px;
            margin-right: 5px;
        }

        .el-calendar__header {
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: #eac9cd;
            border-radius: 0px 20px 0px 0px;
        }

        .el-calendar__title {
            color: #ffffff;
            font-weight: 700;
            font-size: x-large;
        }

        .el-calendar__button-group > .el-button-group > .el-button {
            background-color: #DD868C;
            color: #fff;
            height: 40px;
        }

        .el-calendar-day {
            height: auto !important;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .el-calendar-table td.is-today {
            color: #DD868C;
        }

        .el-card__body {
            border-radius: 50px 50px 50px 50px;
        }
    </style>
</head>

<body>
<div id="app">
    <el-container>
        <el-main>
            <div class="calendar-container-out">
                <div style="padding-left: 20px;padding-top: 20px;padding-bottom: 20px;color: #fff;">
                    <el-page-header @back="goBackLogin" title="back" content="">
                    </el-page-header>
                </div>
                <el-row>
                    <el-col :span="24">
                        <div class="calendar-container-in">
                            <el-row :gutter="20">
                                <el-col :span="6" style=" text-align: center;">
                                    <!-- 图片 -->
                                    <el-row>
                                        <el-col :span="24">
                                            <el-image
                                                    style="width: 250px; height: 170px; margin: auto;display: inline-block;"
                                                    :src="logourl" fit="contain"></el-image>
                                        </el-col>
                                    </el-row>
                                    <!-- 四个按钮 -->
                                    <el-row>
                                        <el-col :span="24">

                                            </el-button>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-button plain icon="el-icon-date" class="myButton" @click="toCalendar">
                                                Home
                                            </el-button>
                                        </el-col>
                                    </el-row>  <br>  <br>  <br>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-button plain icon="el-icon-message" class="myButton" @click="toEvent">
                                                Search
                                            </el-button>
                                        </el-col>
                                    </el-row>
                                    <br>  <br>  <br>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-button plain icon="el-icon-user" class="myButton" @click="toUser">User
                                            </el-button>
                                        </el-col>
                                    </el-row>
                                </el-col>

                                <el-col :span="18" style="border-left: 1px solid #BBB;height: 700px;">
                                    <!-- 日历 -->
                                    <el-row>
                                        <div id="calendar"></div>
                                        <div id="dialog-confirm" class="hide">
                                            <label>事件名称:<input id="title" type="text"></label>
                                            <label>开始时间:<input id="datetimepicker1" type="text"></label>
                                            <label>结束时间:<input id="datetimepicker2" type="text"></label>
                                        </div><!-- #dialog-confirm -->

                                        <!--                                        <el-calendar :first-day-of-week="7" v-model="nowDate">-->
                                        <!--                                        </el-calendar>-->
                                    </el-row>
                                    <!-- 日历下方 -->
                                    <el-row :gutter="20" style="margin-top: 15px;margin-bottom: 15px;">
                                        <el-col :span="11">
                                            <div>
                                            </div>
                                        </el-col>
                                    </el-row>
                                </el-col>
                            </el-row>
                        </div>
                        </el-card>
                    </el-col>
                    <el-col :span="13">
                        <el-row style="margin-right: 5px;">


                            <el-row>

                                <el-col :span="12">

                                </el-col>
                            </el-row>
                        </el-row>
                    </el-col>
                </el-row>
            </div>
        </el-main>
    </el-container>
</div>
</body>
<script th:src="@{/static/assets/js/moment.min.js}"></script>
<script th:src="@{/static/assets/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/static/assets/js/fullcalendar.min.js}"></script>
<script th:src="@{/static/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/js/jquery-ui.min.js}"></script>
<script th:src="@{/static/assets/js/bootstrap-datetimepicker.min.js}"></script>
<script>

    ELEMENT.locale(ELEMENT.lang.en)
    jQuery(function ($) {
        var date = new Date();

        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD hh:mm',
        });
        $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD hh:mm',
        });
        var eventRecord = [];
        var calendar = $('#calendar').fullCalendar({
            //isRTL: true,
            //firstDay: 1,// >> change first day of week

            buttonHtml: {
                prev: '<i class="ace-icon fa fa-chevron-left"></i>',
                next: '<i class="ace-icon fa fa-chevron-right"></i>'
            },

            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: eventRecord
            ,

            /**eventResize: function(event, delta, revertFunc) {

			alert(event.title + " end is now " + event.end.format());

			if (!confirm("is this okay?")) {
				revertFunc();
			}

		},*/

            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar !!!
            drop: function (date) { // this function is called when something is dropped

                // retrieve the dropped element's stored Event Object
                var originalEventObject = $(this).data('eventObject');
                var $extraEventClass = $(this).attr('data-class');


                // we need to copy it, so that multiple events don't have a reference to the same object
                var copiedEventObject = $.extend({}, originalEventObject);

                // assign it the date that was reported
                copiedEventObject.start = date;
                copiedEventObject.allDay = false;
                if ($extraEventClass) copiedEventObject['className'] = [$extraEventClass];

                // render the event on the calendar
                // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }

            }
            ,
            selectable: true,
            selectHelper: true,
            select: function (start, end, allDay) {
                $('#datetimepicker1').val(moment(start).format('YYYY-MM-DD HH:mm'));
                $('#datetimepicker2').val(moment(end).format('YYYY-MM-DD HH:mm'));
                $("#dialog-confirm").removeClass('hide').dialog({
                    resizable: false,
                    width: '320',
                    height: '400',
                    modal: true,
                    title: "添加事件",
                    title_html: true,
                    buttons: [
                        {
                            html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; 保存事件",
                            "class": "btn btn-success btn-minier",
                            click: function () {
                                $(this).dialog("close");
                                var title = $('#title').val();
                                var begin = $('#datetimepicker1').val();
                                var end = $('#datetimepicker2').val();
                                saveEvent(title, begin, end)
                            }
                        },
                        {
                            html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; 取消",
                            "class": "btn btn-minier",
                            click: function () {
                                $('#title').val('');
                                $('#datetimepicker1').val('');
                                $('#datetimepicker2').val('');
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
                calendar.fullCalendar('unselect');
            },
            /**
             *  处理点击事件
             * @param calEvent
             * @param jsEvent
             * @param view
             */
            eventClick: function (calEvent, jsEvent, view) {
                $('#title').val(calEvent.title);
                $('#datetimepicker1').val(moment(calEvent.start).format('YYYY-MM-DD HH:mm'));
                $('#datetimepicker2').val(moment(calEvent.end).format('YYYY-MM-DD HH:mm'));

                $("#dialog-confirm").removeClass('hide').dialog({
                    resizable: false,
                    width: '320',
                    height: '400',
                    modal: true,
                    title: "事件修改",
                    title_html: true,
                    buttons: [
                        {
                            html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; 保存事件",
                            "class": "btn btn-success btn-minier",
                            click: function () {
                                $(this).dialog("close");
                                var title = $('#title').val();
                                var begin =  $('#datetimepicker1').val();
                                var end =  $('#datetimepicker2').val();
                                saveEvent(title, begin, end)
                            }
                        },
                        {
                            html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; 删除事件",
                            "class": "btn btn-danger btn-minier",
                            click: function () {
                                deleteEvent(calEvent.id)
                                $(this).dialog("close");
                            }
                        },
                        {
                            html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; 取消",
                            "class": "btn btn-minier",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }
        });

        function saveEvent(name, start, end) {
            $.post('/saveEventRecord', {
                eventName: name,
                startTime: start,
                endTime: end
            }, function (data) {
                if (data > 0) {
                    alert('保存成功');
                    calendar.fullCalendar('renderEvent',
                        {
                            id: data,
                            title: name,
                            start: start,
                            end: end,
                            className: 'label-info'
                        },
                        true // make the event "stick"
                    );
                }
            }, 'json');
        }

        function deleteEvent(id) {
            window.location.href = "/deleteEvent/" + id;
        }

        selectAllEvent();

        function selectAllEvent() {
            $.ajax({
                url: '/selectEventRecord',
                type: 'get',
            }).done(function (dat) {
                for (var key in dat) {
                    console.log(key);
                    calendar.fullCalendar('renderEvent',
                        {
                            id: dat[key].id,
                            title: dat[key].eventName,
                            start: dat[key].startTime,
                            end: dat[key].endTime,
                            className: 'label-info'
                        },
                        true // make the event "stick"
                    );
                }
            })
        }

    })


    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                logourl: '/static/img/logo.png',
                nowDate: new Date(),
                rateValue: null
            }
        },
        methods: {
            goBackLogin: function () {
                console.log('go back')
                location.href = "./login.html"
            },
            toHome: function () {
                location.href = './calendar-home.html'
            },
            toCalendar: function () {
                location.href = "./home"
            },
            toEventDetails: function () {
                location.href = "./event.html"
            },
            toEvent: function () {
                location.href = "/list"
            },
            toUser: function () {
                location.href = "/page/user.html"
            }

        }
    })
</script>

</html>